.title_edit_budget{
    font-size: 2rem;
    color: #ff3131;
    margin-bottom: 1rem;
}

.btn-primary_cp{
    background-color: #ff3131;
    color: white;
    padding: .7rem;
    border-radius: .6rem;
    border: 0;
}

.buttons_both{
    text-align: center;
}