.footer_main {
    background-color: #d9d9d9;
    padding: 1rem;
    /* width: 100%; */
    overflow-x: hidden;
  }
  

.footer_logo{
    justify-content: center;
    display: flex;
}

.footer_location{
    margin-top: .7rem;
    font-weight: 500;
    color: #a6a6a6;

}

.footer_credits{
    margin-top: .2rem;
    font-weight: 500;
    color: #a6a6a6;

}

.footer_location span{
    color: #ff3131;
}